{:deps {org.scicloj/tablecloth.time {:mvn/version "1.00-alpha-5"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.753"}
        org.postgresql/postgresql {:mvn/version "42.3.1"}
        http-kit/http-kit {:mvn/version "2.5.3"}
        compojure/compojure {:mvn/version "1.6.2"}
        ring/ring-json {:mvn/version "0.5.1"}
        tick/tick {:mvn/version "RELEASE"}
        bulgogi/bulgogi {:local/root "../../bulgogi"}}}
